.add-form {
  background-color: #7885a1;
  margin-bottom: 60px;
  text-align: center;
  border-radius: 4px;
  margin-top: 60px;
}

.add-form input, textarea, select {
  height: 45px;
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.add-form textarea {
  height: 100px;
}

.add-form img {
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: 10px;
}

.genres-select {
  margin-bottom: 5px;
}
