.page-content input[type="text"] {
  width: 50%
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  height: 40px;
  border-bottom: 4px solid #ccc;
}

.page-content input[name="summary"] {
  width: 60%;
  height: 90px;
}

.page-content span {
  font-size: 24px;
}


.container h1{
  font-size: 40px;
}



.container {
  background: linear-gradient(to bottom right, #545f78, #7885a1);
  text-align: center;
}
