#home-page {

}

.main-page-title {
  text-align: center;
  background-color: #7885a1;
  border-radius: 4px 4px 0px 0px;
  /*box-shadow: 0px 3px 3px #888888;*/
  display: table;
  width: 100%;
}
.main-page-title h1 {

}

.col-poster {
  padding-left: 5px;
  padding-right: 5px;
}
.photobanner-container {
  overflow-x: hidden;
}
.photobanner {
  width: 6000px;
  padding-top: 15px;
  padding-bottom: 30px;
  height: 325px;
}
.poster {
  z-index: 5;
  height: 100%;
  margin: 0px;
  padding: 0px;

  -webkit-box-shadow: 0px 2px 2px #888888;
	-moz-box-shadow: 0px 2px 2px #888888;
	box-shadow: 0px 2px 2px #888888;

  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 25s linear infinite;
	   -moz-animation: bannermove 25s linear infinite;
	    -ms-animation: bannermove 25s linear infinite;
	     -o-animation: bannermove 25s linear infinite;
	        animation: bannermove 25s linear infinite;
}
@keyframes "bannermove" {
 0% { margin-left: 0px; }
 100% { margin-left: -2315px; }
}
@-moz-keyframes bannermove {
 0% { margin-left: 0px; }
 100% { margin-left: -2315px; }
}
@-webkit-keyframes "bannermove" {
 0% { margin-left: 0px; }
 100% { margin-left: -2315px; }
}
@-ms-keyframes "bannermove" {
 0% { margin-left: 0px; }
 100% { margin-left: -2315px; }
}
@-o-keyframes "bannermove" {
 0% { margin-left: 0px; }
 100% { margin-left: -2315px; }
}

.poster:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 8px 8px #888888;
	-moz-box-shadow: 0px 8px 8px #888888;
	box-shadow: 0px 10px 8px #888888;
}

.info div {
  text-align: justify;
  font-size: 13px;
}

.info h1 {
  margin-top: 0px;
  text-align: center;
}

.search {
  text-align: center;
}
.search h3 {
  margin-top: 10px;
}
.search-button {
  margin: 0 auto;
  width: 120px;
  font-size: 30px;
  margin-bottom: 20px;
}

#footer {
  margin-top: 20px;
  background-color: #7885a1;
  height: 40px;
  box-shadow: 0px 3px 3px #888888;
}

.footer-links {
  text-align: center;
}

.footer-icon {
  padding-top: 5px;
  color: white;
}
