html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #dddddd;
  font-family: 'Open Sans', sans-serif;
}

.container {
  /*margin-top: 20px;*/
  box-shadow: 0px 3px 3px #888888;
  background-color: white;
}

form {
  margin: 0 0 0 0;
}

.background-img {
  background: url('../images/willy.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.databased-btn {
  height: 60px;
  width: 100px;
  padding: 15px 15px;
  color: #fff;
  background-color: #2ECC71;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #27AE60;
  cursor: pointer;
  margin-bottom: 20px;
}
.databased-btn:hover {
  background-color: #2d72e2;
  border-bottom: 4px solid #2055aa;
}

.main-page-title {
  text-align: center;
  background-color: #7885a1;
  border-radius: 4px 4px 0px 0px;
  /*box-shadow: 0px 3px 3px #888888;*/
}

.shadow {
  border-radius: 4px;
  margin-top: -5px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 3px #888888;
}

.main-page-title h1 {
  color: #fff;
  /*box-shadow: 0px 3px 3px #888888;*/
  font-size: 75px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  font-family: 'Didact Gothic', sans-serif;
}
.main-page-title i {
  vertical-align: middle;
  font-size: 18px;
  padding-bottom: 20px;
}

#tool-bar {
  position: relative;
  z-index: 5;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  background-color: #545f78;
  /*box-shadow: 0px 3px 3px #888888;*/
  color: white;

}
@media only screen and (min-width: 767px) {
  .greeting {
    margin-top: 6px;
    position: absolute;
    right: 100px;
  }
  .main-page-title h1 {
    font-size: 75px;
  }
}
@media only screen and (max-width: 767px) {
  .greeting {
    display: none;
  }
  .main-page-title h1 {
    font-size: 50px;
  }
}
.logout {
  position: absolute;
  right: 10px;
}

div.dropdown  {
  display: inline;
}

.btn:hover {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  margin-top: 10px;
}

.main-page-title h1 {
  font-family: 'Didact Gothic', sans-serif;
}

.container {
    font-family: 'Didact Gothic', sans-serif;
}

button a {
  color: white;
}

button a:hover {
  text-decoration: none;
  color: white;
}
