html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.register-container {
  width: 500px;
  height: 500px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 150px;
  overflow-y: scroll;
}
