html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

form {
  margin: 0 0 0 0;
}

.background-img {
  background: url('../images/willy.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}
