.main_page_title {
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;

}

.main_page_title h1 {
  color: #fff;

  font-size: 75px;
}

.col-sm-5{
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;

}
.page-content h1 {
  text-align: left;
  font-size: 40px;
}
.search-window input[type="text"] {
  width: 40%;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 55px;
  border-bottom: 4px solid #ccc;
  border-right: none;
}

h5, select {
  display: inline;
}

.search-btn {
  padding: 15px 25px;
  color: #fff;
  background-color: #2ECC71;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #27AE60;
  cursor: pointer;
  margin-bottom: 20px;
}

.search-options select{
  border-color: black;
  border-radius: 4px;
}
