.main_page_title {
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;
  box-shadow: 0px 3px 3px #888888;
}

.main_page_title h1 {
  color: #fff;

  font-size: 75px;
}

.col-sm-5{
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;

}
.page-content h1 {
  text-align: left;
  font-size: 40px;
}
.small-title {

}

.search-bar {
  border-radius: 4px;
  background-color: rgba(52, 73, 94, 0.7);
  box-shadow: 0px 3px 3px #888888;

}

.search-window input[type="text"] {
  width: 90%;
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 4px;
}

.search-btn {
  min-width: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-options {
  margin-top: 20px;
  text-align: center;
}

.search-options select {
  width: 100%;
  border-color: black;
  border-radius: 4px;
}
.search-options span {
  color: white;
  margin: 0 auto;
  font-size: 12px;
}

.search-result {
  background-color: #fffcfc;
  padding: 10px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 3px #888888;
}
