

.page-content h1 {
  text-align: left;
  font-size: 40px;
}

.search-bar {
  border-radius: 4px;
  background-color: #7885a1;
  box-shadow: 0px 3px 3px #888888;

}

h5, select {
  display: inline;
}

.text-and-button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.search-text {
  width: 68%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  display: inline-block;
  height: 100%;
  float: left;
}
.search-btn {
  float: left;
  vertical-align: top;
  display: inline-block;
  height: 100%;
  width: 30%;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #fff;
}

.search-options {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.search-options select {
  width: 100%;
  margin: auto;
  border-color: black;
  border-radius: 4px;
}
.search-options span {
  color: white;
  margin: 0 auto;
  font-size: 12px;
}

.search-result {
  background-color: #fffcfc;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 3px #888888;
  position: relative;
}

.search-rating {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}

.search-result-info {
  position: relative;
  margin-bottom: 10px;
}
.search-result-poster-container {
  padding-right: 10px;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100%;
}
.search-result-poster {
  width: 100%;

}
.search-result-text {
  display: inline-block;
  width: calc(100% - 100px);
}
.search-result-text h3 {
  margin-top: 0px;
}


.search-result-admin-functions span {
  margin-top: 2px;
}

.add-genre-text {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  width: 70%;
  font-size: 20px;
}

.genre-form button {
  width: 30%;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 30px;
}

.genre-form {
  height: 40px;
}

.add-genre-text, .genre-form button {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  height: 100%;
}

.light-x {
  color: #888;
}
