#rate-page {

}
.poster-container {
  text-align: center;
}
.poster {
  display: inline-block;
  max-width: 220px;
  width: 100%;
  box-shadow: 0px 2px 2px #888888;
  transition: all 0.5s ease;
}
.poster:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 10px 8px #888888;
}
.movie-rating {
  display: inline-block;
  text-align: center;
}
.movie-feedback {
  width: 100%;
  text-align: center;
  display: inline-block;
}
/* http://jsfiddle.net/Masau/7WRHM/ */
.responsive-iframe {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.responsive-iframe img {
  display: block;
  width: 100%;
  height: auto;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user-review {
  background-color: #fffcfc;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 3px #888888;
  position: relative;
}
.user-review h3 {
  margin-top: 0px;
}

/* http://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/ */
.stars {
  /*display: inline-block;*/
  width: 140px;
  height: 40px;
  margin: 0 auto;
}
input.star {
  display: none;
}
label.star {
  float: right;
  padding: 4px;
  font-size: 20px;
  color: #444;
  transition: all 0.2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all 0.2s;
}
input.star-1:checked ~ label.star:before {
  color: #F62;
}
label.star:hover {
  transform: scale(1.3);
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.text-input {
  width: 80%;
  height: 80px;
  margin: 0 auto;
}

.tag-content {
  margin-bottom: 20px;
}

.tag-text {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  width: 70%;
  font-size: 20px;
}

.tag-form button {
  width: 30%;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 30px;
}

.tag-form {
  height: 40px;
  width: 80%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.tag-text, .tag-form button {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  height: 100%;
}

.tag-btn {
  padding: 10px 10px;
  width: 85%;
  margin-bottom: 5px;
  margin-top: 5px;
}
