.register-container {
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;
  margin-top: 80px;
  padding-bottom: 20px;
}
.register-container img {
  width: 120px;
  height: 120px;
  margin-top: -60px;
}
.register-container input[type="text"], input[type="password"], input[type="date"] {
  height: 45px;
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.register-container h2 {
  color: #fff;
  margin-bottom: 20px;
}
.register-container a {
  color: #fff;
  text-decoration: none;
}
.register-container a:hover {
  color: coral;
}
.register-btn {
  padding: 15px 25px;
  color: #fff;
  background-color: #2ECC71;
  border: none;
  border-radius: 4px;
  border-bottom: 4px solid #27AE60;
  cursor: pointer;
  margin-bottom: 20px;
}
.register-btn:hover {
  background-color: #2d72e2;
  border-bottom: 4px solid #2055aa;
}
